<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinyou.mapper.app.home.HomeMapper">
    <select id="list" resultType="com.jinyou.pojo.admin.home.Banner">
        select * from banner
        where status = 1
    </select>
    <select id="listTop" resultType="com.jinyou.pojo.admin.home.TopBanner">
        select * from top_banner
        where status = 1
    </select>
</mapper>